<p style="color: green"><%= notice %></p>

<h1>Beer clubs</h1>

<div id="beer_clubs">
  <ul>
  <% @beer_clubs.each do |beer_club| %>
    <li>
      <%= link_to beer_club.name, beer_club %>, <%= beer_club.city %>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to("New beer club", new_beer_club_path) if current_user %>
